$bg: #1E1E2E;
$fg: #CDD6F4;
$primary-bg: #89B4FA;
$primary-fg: #1E1E2E;
$secondary-bg: $primary-bg;
$secondary-fg: $primary-fg;
$error-bg: #F5E0DC;
$error-fg: #1E1E2E;
$padding: 7pt;
$spacing: 12pt;
$radius: 0px;
$transition: 200ms;
$shadows: false;
$widget-bg: rgba(205, 214, 244, 0.96);
$hover-bg: rgba(205, 214, 244, 0.86);
$hover-fg: #D1D9F4;
$border-width: 1px;
$border-color: rgba(205, 214, 244, 0.96);
$border: $border-width solid $border-color;
$active-gradient: linear-gradient(to right, #89B4FA, #83ACF0);
$shadow-color: rgba(0,0,0,0.6);
$text-shadow: 2pt 2pt 2pt $shadow-color;
$box-shadow: 2pt 2pt 2pt 0 $shadow-color, inset 0 0 0 $border-width $border-color;
$popover-border-color: rgba(205, 214, 244, 0.95);
$popover-padding: 11pt;
$popover-radius: 11pt;
$font-size: 11pt;
$font-name: DejaVu Sans Mono;
$hyprland-gaps-multiplier: 1.6;
